### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [665]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

purchase_data.head(5)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [666]:
player_count = len(purchase_data["SN"].unique())

player_count_summary_df = pd.DataFrame({"Total Players": [player_count]})

player_count_summary_df.head()

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [667]:
number_unique_items = len(purchase_data["Item Name"].unique())
avg_price = purchase_data["Price"].mean()
number_purchases = len(purchase_data["Purchase ID"].value_counts())
total_revenue = purchase_data["Price"].sum()

purchasing_analysis_df = pd.DataFrame({"Number of Unique Items": [number_unique_items],
                           "Average Price": [avg_price],
                           "Number of Purchases": [number_purchases],
                           "Total Revenue": [total_revenue]})

purchasing_analysis_df["Average Price"] = purchasing_analysis_df["Average Price"].map("${:.2f}".format)
purchasing_analysis_df["Total Revenue"] = purchasing_analysis_df["Total Revenue"].map("${:.2f}".format)

purchasing_analysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [668]:
new_purchase_data = purchase_data.loc[:,["Gender", "SN", "Age"]]

purchase_data.drop_duplicates(subset="SN", keep='first', inplace=True)

total_players = len(purchase_data["SN"].value_counts())

gender_counts = purchase_data["Gender"].value_counts()

gender_demographics_groupby = purchase_data.groupby(["Gender"])

gender_percentage = gender_counts / total_players * 100

Gender_Demographics_summary_table = pd.DataFrame({"Total Count": gender_counts,
                                    "Percentage of Players": gender_percentage})
Gender_Demographics_summary_table

                       Total Count  Percentage of Players
Male                           484              84.027778
Female                          81              14.062500
Other / Non-Disclosed           11               1.909722


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [669]:
new_purchase_data_gender = purchase_data.loc[:,["SN","Gender", "Purchase ID", "Price"]]

number_purchases_gender = len(purchase_data["Purchase ID"].value_counts())

avg_price_gender = purchase_data["Price"].mean()

total_purchase_gender = purchase_data["Price"].sum()

gender_counts = purchase_data["Gender"].value_counts()

avg_total_person = total_purchase_gender / number_purchases_gender

gender_purchasing_analysis_groupby = purchase_data.groupby(["Gender"])

gender_purchasing_analysis_table = pd.DataFrame({"Purchase Count": number_purchases_gender,
                           "Average Purchase Price": avg_price_gender, 
                           "Total Purchase Value": total_purchase_gender,
                           "Average Total per Person": avg_total_person}, index=[0])


gender_purchasing_analysis_table["Average Purchase Price"] = gender_purchasing_analysis_table["Average Purchase Price"].map("${:.2f}".format)
gender_purchasing_analysis_table["Total Purchase Value"] = gender_purchasing_analysis_table["Total Purchase Value"].map("${:.2f}".format)
gender_purchasing_analysis_table["Average Total per Person"] = gender_purchasing_analysis_table["Average Total per Person"].map("${:.2f}".format)

gender_purchasing_analysis_table

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total per Person
0,576,$3.07,$1768.65,$3.07

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [672]:
purchase_data["Age Demographics"] = pd.cut(purchase_data["Age"], [0, 10, 15, 20, 25, 30, 35, 40, 150], 
                              labels=["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"], 
                              include_lowest=True, right=False)

total_players = len(purchase_data["SN"].value_counts())

age_demographics_counts = purchase_data["Age Demographics"].value_counts()

age_data = purchase_data.groupby("Age Demographics")

percentage_age = age_demographics_counts / total_players * 100

age_analysis_table = pd.DataFrame({"Total Count": age_demographics_counts,
                           "Percentage of Players": percentage_age}, index=[0])

age_analysis_table.head()

   Total Count  Percentage of Players
0          NaN                    NaN

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [674]:
purchase_data["Age Demographics"] = pd.cut(purchase_data["Age"], [0, 10, 15, 20, 25, 30, 35, 40, 150], 
                              labels=["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"], 
                              include_lowest=True, right=False)

number_purchases_age = len(purchase_data["Purchase ID"].value_counts())

avg_purchase_price = purchase_data["Price"].mean()

total_purchase_age = purchase_data["Price"].sum()

gender_counts = purchase_data["Gender"].value_counts()

number_unique_items = len(purchase_data["Item Name"].unique())

age_data = purchase_data.groupby("Age Demographics")

avg_total_age = number_unique_items / total_purchase_age * 100

age_purchasing_analysis_table = pd.DataFrame({"Purchase Count": number_purchases_age,
                           "Average Purchase Price": avg_purchase_price, 
                           "Total Purchase Value": total_purchase_age,
                           "Average Total per Person": avg_total_age}, index=[0])

age_purchasing_analysis_table["Average Purchase Price"] = age_purchasing_analysis_table["Average Purchase Price"].map("${:.2f}".format)
age_purchasing_analysis_table["Total Purchase Value"] = age_purchasing_analysis_table["Total Purchase Value"].map("${:.2f}".format)
age_purchasing_analysis_table["Average Total per Person"] = age_purchasing_analysis_table["Average Total per Person"].map("${:.2f}".format)


age_purchasing_analysis_table.head()

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total per Person
0,576,$3.07,$1768.65,$9.78

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame