### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [54]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

purchase_data.head(5)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [55]:
player_count = len(purchase_data["SN"].unique())

player_count_summary_df = pd.DataFrame({"Total Players": [player_count]})

player_count_summary_df.head()

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [56]:
number_unique_items = len(purchase_data["Item Name"].unique())

avg_price = purchase_data["Price"].mean()

number_purchases = len(purchase_data["Purchase ID"].value_counts())

total_revenue = purchase_data["Price"].sum()

purchasing_analysis_df = pd.DataFrame({"Number of Unique Items": [number_unique_items],
                           "Average Price": [avg_price],
                           "Number of Purchases": [number_purchases],
                           "Total Revenue": [total_revenue]})

purchasing_analysis_df["Average Price"] = purchasing_analysis_df["Average Price"].map("${:.2f}".format)
purchasing_analysis_df["Total Revenue"] = purchasing_analysis_df["Total Revenue"].map("${:.2f}".format)

purchasing_analysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [57]:
new_purchase_data = purchase_data.loc[:,["Gender", "SN", "Age"]]

purchase_data.drop_duplicates(subset="SN", keep='first', inplace=True)

total_players = len(purchase_data["SN"].value_counts())

gender_counts = purchase_data["Gender"].value_counts()

gender_demographics_groupby = purchase_data.groupby(["Gender"])

gender_percentage = gender_counts / total_players * 100

Gender_Demographics_summary_table = pd.DataFrame({"Total Count": gender_counts,
                                    "Percentage of Players": gender_percentage})

Gender_Demographics_summary_table["Percentage of Players"] = Gender_Demographics_summary_table["Percentage of Players"].map("{:.2f}%".format)

Gender_Demographics_summary_table

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [58]:
purchase_data = pd.read_csv(file_to_load)

new_purchase_data_gender = purchase_data.loc[:,["Gender", "Purchase ID", "Price"]]

gender_purchasing_analysis_groupby = purchase_data.groupby(["Gender"])

number_purchases_gender = purchase_data.groupby(["Gender"]).count()["Purchase ID"]

avg_price_gender = purchase_data.groupby(["Gender"]).mean()["Price"]

total_purchase_gender = purchase_data.groupby(["Gender"]).sum()["Price"]

avg_total_person = total_purchase_gender / number_purchases_gender

gender_purchasing_analysis_table = pd.DataFrame({"Purchase Count": number_purchases_gender,
                           "Average Purchase Price": avg_price_gender, 
                           "Total Purchase Value": total_purchase_gender,
                           "Average Total Purchase per Person": avg_total_person})


gender_purchasing_analysis_table["Average Purchase Price"] = gender_purchasing_analysis_table["Average Purchase Price"].map("${:.2f}".format)
gender_purchasing_analysis_table["Total Purchase Value"] = gender_purchasing_analysis_table["Total Purchase Value"].map("${:.2f}".format)
gender_purchasing_analysis_table["Average Total Purchase per Person"] = gender_purchasing_analysis_table["Average Total Purchase per Person"].map("${:.2f}".format)

gender_purchasing_analysis_table

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$3.20
Male,652,$3.02,$1967.64,$3.02
Other / Non-Disclosed,15,$3.35,$50.19,$3.35

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [59]:
purchase_data["Age Demographics"] = pd.cut(purchase_data["Age"], [0, 10, 15, 20, 25, 30, 35, 40, 150], 
                              labels=["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"], 
                              include_lowest=True, right=False)

age_data = purchase_data.groupby("Age Demographics")

age_demographics_counts = purchase_data.groupby("Age Demographics").count()["SN"]

player_count = len(purchase_data["SN"].unique())

percentage_age_demographics = age_demographics_counts / player_count * 100

age_analysis_table = pd.DataFrame({"Total Count": age_demographics_counts,
                           "Percentage of Players": percentage_age_demographics})

age_analysis_table["Percentage of Players"] = age_analysis_table["Percentage of Players"].map("{:.2f}%".format)

age_analysis_table.head(10)

                  Total Count Percentage of Players
Age Demographics
<10                        23                 3.99%
10-14                      28                 4.86%
15-19                     136                23.61%
20-24                     365                63.37%
25-29                     101                17.53%
30-34                      73                12.67%
35-39                      41                 7.12%
40+                        13                 2.26%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [60]:
purchase_data = pd.read_csv(file_to_load)

new_purchase_data_age = purchase_data.loc[:,["SN", "Purchase ID", "Price"]]

purchase_data["Age Demographics"] = pd.cut(purchase_data["Age"], [0, 10, 15, 20, 25, 30, 35, 40, 150], 
                              labels=["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"], 
                              include_lowest=True, right=False)

age_purchase_data = purchase_data.groupby("Age Demographics")

age_demographics_purchase_count = purchase_data.groupby("Age Demographics").count()["Purchase ID"]

age_demographic_avg_purchase_price = purchase_data.groupby(["Age Demographics"]).mean()["Price"]

age_demographic_total_purchase = purchase_data.groupby(["Age Demographics"]).sum()["Price"]

age_demographic_avg_total_person = age_demographic_total_purchase / age_demographics_purchase_count

age_purchasing_analysis_table = pd.DataFrame({"Purchase Count": age_demographics_purchase_count,
                           "Average Purchase Price": age_demographic_avg_purchase_price, 
                           "Total Purchase Value": age_demographic_total_purchase,
                           "Average Total per Person": age_demographic_avg_total_person})

age_purchasing_analysis_table["Average Purchase Price"] = age_purchasing_analysis_table["Average Purchase Price"].map("${:.2f}".format)
age_purchasing_analysis_table["Total Purchase Value"] = age_purchasing_analysis_table["Total Purchase Value"].map("${:.2f}".format)
age_purchasing_analysis_table["Average Total per Person"] = age_purchasing_analysis_table["Average Total per Person"].map("${:.2f}".format)

age_purchasing_analysis_table.head(10)

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total per Person
Age Demographics,,,,
<10,23,$3.35,$77.13,$3.35
10-14,28,$2.96,$82.78,$2.96
15-19,136,$3.04,$412.89,$3.04
20-24,365,$3.05,$1114.06,$3.05
25-29,101,$2.90,$293.00,$2.90
30-34,73,$2.93,$214.00,$2.93
35-39,41,$3.60,$147.67,$3.60
40+,13,$2.94,$38.24,$2.94

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [61]:
top_spenders_analysis = purchase_data.groupby(["SN"])

number_purchases_spender = purchase_data.groupby(["SN"]).count()["Purchase ID"]

spender_avg_purchase_price = purchase_data.groupby(["SN"]).mean()["Price"]

total_purchase_spender = purchase_data.groupby(["SN"]).sum()["Price"]

spender_purchasing_analysis_table = pd.DataFrame({"Purchase Count": number_purchases_spender,
                           "Average Purchase Price": spender_avg_purchase_price, 
                           "Total Purchase Value": total_purchase_spender})

spender_purchasing_analysis_table["Average Purchase Price"] = spender_purchasing_analysis_table["Average Purchase Price"].map("${:.2f}".format)
spender_purchasing_analysis_table["Total Purchase Value"] = spender_purchasing_analysis_table["Total Purchase Value"].map("${:.2f}".format)

total_purchase_sort = spender_purchasing_analysis_table.sort_values(
    ["Total Purchase Value"], ascending=False)

total_purchase_sort.head(5)

              Purchase Count Average Purchase Price Total Purchase Value
SN
Haillyrgue51               3                  $3.17                $9.50
Phistym51                  2                  $4.75                $9.50
Lamil79                    2                  $4.64                $9.29
Aina42                     3                  $3.07                $9.22
Saesrideu94                2                  $4.59                $9.18

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [62]:
popular_purchase_data = purchase_data.loc[:,["Item ID", "Item Name", "Price"]]

popular_purchase_data = purchase_data.groupby(["Item ID", "Item Name"])

number_purchases_popular = purchase_data.groupby(["Item ID", "Item Name"]).count()["Purchase ID"]

total_purchase_popular = purchase_data.groupby(["Item ID", "Item Name"]).sum()["Price"]

item_price_popular = total_purchase_popular / number_purchases_popular

popular_purchasing_analysis_table = pd.DataFrame({"Purchase Count": number_purchases_popular,
                           "Item Price": item_price_popular,                 
                           "Total Purchase Value": total_purchase_popular})

popular_purchasing_analysis_table["Total Purchase Value"] = popular_purchasing_analysis_table["Total Purchase Value"].map("${:.2f}".format)
popular_purchasing_analysis_table["Item Price"] = popular_purchasing_analysis_table["Item Price"].map("${:.2f}".format)

popular_purchasing_analysis_table = popular_purchasing_analysis_table.sort_values(
    ["Purchase Count"], ascending=False)

popular_purchasing_analysis_table.head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [63]:
popular_purchasing_analysis_table = popular_purchasing_analysis_table.sort_values(
    ["Total Purchase Value"], ascending=False)

popular_purchasing_analysis_table.head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
63,Stormfury Mace,2,$4.99,$9.98
29,"Chaos, Ender of the End",5,$1.98,$9.90
173,Stormfury Longsword,2,$4.93,$9.86
1,Crucifer,3,$3.26,$9.78
38,"The Void, Vengeance of Dark Magic",4,$2.37,$9.48